/* Welcome to Compass. Use this file to define print styles.
 * Created by remesh on 1/26/15.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/_font.css" media="screen" rel="stylesheet" type="text/css" /> */

//Font Defenitions
@import "compass/css3";

//@include font_face("Lato", font_files("fonts/Lato-Reg.ttf", "fonts/Lato-Reg.otf"), '', 500,'normal');

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato-reg-webfont.eot');
  src: url('fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/lato-reg-webfont.woff2') format('woff2'),
  url('fonts/lato-reg-webfont.woff') format('woff'),
  url('fonts/lato-reg-webfont.ttf') format('truetype'),
  url('fonts/lato-reg-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'Pacific';
  src: url('fonts/pacifico-webfont.eot');
  src: url('fonts/pacifico-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/pacifico-webfont.woff2') format('woff2'),
  url('fonts/pacifico-webfont.woff') format('woff'),
  url('fonts/pacifico-webfont.ttf') format('truetype'),
  url('fonts/pacifico-webfont.svg#pacificoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

.lato {
  font-family: "Lato";
}.pacific {
  font-family: "Pacific";
}






