// Requirements
// ============



$susy: (
        //math: static,
        columns: 6,
        column-width: 60px,
        gutters: 1 / 6,
        global-box-sizing: border-box,
        use-custom: (rem: true)
);
