// Requirements
// ============



$susy: (
        //math: static,
        columns: 6,
        column-width: rem-calc(60),
        gutters: 2 / 6,
        global-box-sizing: border-box,
        use-custom: (rem: true)
);
