/* Menu Styles */
//Menu Styles
@import "settings";
@import "font";
@import "compass/typography/lists/horizontal-list";
@import "functions";

/*.nav {
  @extend .nopadding;

  list-style: none;
  white-space: nowrap;
  position: relative;
  z-index: 1;
  padding-top: 15px;
  font-family: "Lato";
  font-size: 12px;
  margin: 0 auto;
  width: 950px;

  li {

    @extend .WHITE;
    @extend .lato;
    float: left;
    padding: 0 24px;
    text-transform: uppercase;
    color: #727275;; // text color
    line-height: 35px;

    a {
      color: $menu_color;
    }
    & a.active, & a:hover {
      color: $orange;
    }
    &.logo {
      @include background('../images/socialize_logo.png');
      background-position: center;
      text-indent: -9999px;
      height:31px;
      width:95px;
      display: block;
    }

  }

}
*/

.nav {

  ul {
    @include horizontal-list-container();
    float: none;
    margin: 0 auto;
    padding-top: 15px;
    width: 990px;

    li {
      @include horizontal-list-item(15px, 'Left');
      @include box-sizing(border-box);
      text-align: center;

      @extend .WHITE;
      @extend .lato;
      float: left;
      padding: 0 25px;
      text-transform: uppercase;
      color: #727275;; // text color
      line-height: 50px;

      a {
        color: $color_menu_text;
        font-size: rem-calc(12px);
      }
      & a.active, & a:hover {
        color: $color_orange;
      }
      &.logo {
        @include background('../images/socialize_logo.png');
        background-position: center;
        height:31px;
        width:110px;

        @include hide-text;
      }
    }
  }
}

.about-me {
  width: inherit;
  height: auto;
  .about-text {
    @include span(5);
  }
  .about-pic {
    @include span(last 3);
  }
}



