body{
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: rem-calc(16);
}
a{
  text-decoration: none;
}
ul{
  padding: 0;
  margin: 0;
  li{
    display: inline-block;
    list-style-type: none;
  }
}

